@model Evidence_1264855.Models.Employee
@using Evidence_1264855.Models

@{
    ViewBag.Title = "Delete-Employees";
}
<div class="container mb-2">
    @using (Html.BeginForm("Delete", "Employees", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(e => e.EmployeeId)
        <h4>Delete Employee:</h4>
        <div class="form-group row mb-2">
            @Html.LabelFor(e => e.EmployeeName, new { @class = "col-form-label col-form-label-sm col-2 text-end" })
            <div class="col-5">
                @Html.DisplayFor(e => e.EmployeeName, new { @class = "form-control form-control-sm" })

            </div>
        </div>
        <div class="form-group row mb-2">
            @Html.LabelFor(e => e.EmployeePhone, new { @class = "col-form-label col-form-label-sm col-2 text-end" })
            <div class="col-5">
                @Html.DisplayFor(e => e.EmployeePhone, new { @class = "form-control form-control-sm" })

            </div>
        </div>
        <div class="form-group row mb-2">
            @Html.LabelFor(e => e.EmployeeSalary, new { @class = "col-form-label col-form-label-sm col-2 text-end" })
            <div class="col-5">
                @Html.DisplayFor(e => e.EmployeeSalary, new { @class = "form-control form-control-sm" })
            </div>
        </div>
        <div class="form-group row mb-2">
            @Html.LabelFor(e => e.EmployeeDepartment, new { @class = "col-form-label col-form-label-sm col-2 text-end" })
            <div class="col-5">
                @((Departments)Model.EmployeeDepartment)
            </div>
        </div>
        <div class="form-group row mb-2">
            @Html.LabelFor(e => e.EmployeeJoinDate, new { @class = "col-form-label col-form-label-sm col-2 text-end" })
            <div class="col-5">
                @Html.DisplayFor(e => e.EmployeeJoinDate, new { @class = "form-control form-control-sm" })
            </div>
        </div>
        <div class="form-group row mb-2">
            @Html.LabelFor(e => e.EmployeeDepartment, new { @class = "col-form-label col-form-label-sm col-2 text-end" })
            <div class="col-5">
                @((Gender)Model.EmployeeGender)
            </div>
        </div>
        <div class="form-group row my-2 align-middle">
            <div class="col-4 offset-2">
                <div class="form-check form-check-inline">
                    @Html.CheckBoxFor(e => e.Continued, new { @class = "form-check-input ", disabled = "true" })
                    @Html.LabelFor(e => e.Continued, new { @class = "form-check-label" })
                </div>
            </div>
        </div>
        <div class="form-group row mb-2">
            @Html.LabelFor(e => e.EmployeePicture, new { @class = "col-form-label col-form-label-sm text-end col-2" })
            <div class="col-5">
                <img src="~/Uploads/@Model.EmployeePicture" width="40" class="img-thumbnail rounded-circle" />
            </div>
        </div>
        <div class="form-group row mb-4">
            <div class="col-10 offset-2">
                <button type="submit" class="btn btn-success">Confirm Delete</button>
            </div>
        </div>
    }
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-secondary" href="@Url.Action("index", "Employees")"><i class="fa fa-backward"></i>Back to Index</a>
        </div>
    </div>
</div>

@section styles {
    <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-datepicker.standalone.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
}




